<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>프로젝트에 사용자 추가</title>
</head>
<body>
    <h1>프로젝트에 사용자 추가</h1>
    <form action="#" th:action="@{/adduser}" method="post">
        <label for="projectid">프로젝트 선택:</label>
        <select id="projectid" name="projectid" required>
            <option value="" selected disabled hidden>프로젝트 선택</option>
            <option th:each="project : ${projects}" th:value="${project.projectid}" th:text="${project.projectname}"></option>
        </select>

        <label for="userid">사용자 선택:</label>
        <select id="userid" name="userid" required>
            <option value="" selected disabled hidden>사용자 선택</option>
            <option th:each="user : ${users}" th:value="${user.userid}" th:text="${user.username}"></option>
        </select>

        <button type="submit">추가</button>
    </form>
</body>
</html>