<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projects</title>
</head>
<body>
    <h1>Projects</h1>
    <a href="/addproject">Add Project</a>
    <a href="/adduser">Add User</a>
    <a href="/logout">Logout</a>
    <table>
        <thead>
            <tr>
                <th>프로젝트명</th>
                <th>설명</th>
                <th>생성 시각</th>
                <th>구성원</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="project : ${projects}">
                <td>
                    <a th:href="@{'/project/' + ${project.projectname}}" th:text="${project.projectname}">
                </td> 
                <td th:text="${project.projectdescription}"></td>
                <td th:text="${project.projectcreatedtime}"></td>
                <td>
                    <span th:each="member, iterStat : ${project.members}">
                        <a th:href="@{'/member/' + ${member.userid}}" th:text="${member.username}"></a>
                        <span th:unless="${iterStat.last}">,</span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
