.main-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.auth-buttons button {
  margin-left: 10px;
}

.create-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.account-group {
  display: flex;
  align-items: center;
}

.delete-button {
  margin-left: 10px; /* 삭제 버튼과 입력 컨트롤 사이의 여백을 지정합니다. */
}